%header
  %h1 Web Marketing Tool
%nav
  %a{href: '/media'} media
  %a{href: '/targets'} targets
  %a{href: '/redirects'} redirects
  %a{href: '/users'} users
%article
  %a{href: '/home/index', target: '_blank'} test
%footer
  %p Written by Y.Chubachi