%header
  %h1 Web Marketing Tool
%nav
  %div
    %a{href: '/admin/media', target: '_blank'} media
    %a{href: '/admin/targets', target: '_blank'} targets
    %a{href: '/admin/redirects', target: '_blank'} redirects
  %div
    %a{href: '/admin/users', target: '_blank'} users
    %a{href: '/admin/referrers', target: '_blank'} referrers
%article
  %a{href: '/home/index', target: '_blank'} test
%footer
  %p Written by Y.Chubachi