%header
  %h1 Web Marketing Tool
%nav
  %div
    %a{href: '/media'} media
    %a{href: '/targets'} targets
    %a{href: '/redirects'} redirects
  %div
    %a{href: '/users'} users
    %a{href: '/referrers'} referrers
%article
  %a{href: '/home/index', target: '_blank'} test
%footer
  %p Written by Y.Chubachi